:root{
    --main-color: #00FFF5;
    --secondary-color: white;
    --main-weight: 800;
    --secondary-weight: 400;
    --main--font-size: 30px;
    --secondary-font-size: 20px;
    --main-line-height: 27px;
}
html {
    scroll-behavior: smooth;
}
.container{
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
}
.button-design{
    background-color: var(--main-color);
    border-radius: var(--main--font-size);
    padding: 12px 44px;
    cursor: pointer;
}
body{
    background: #061427; 
    font-family: 'Poppins', sans-serif;
}
header{
    padding: 57px 0px 0px 0px;
}
header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-navigation-members-div{
    display: flex;
    gap: 55px;
}
.header-nav a{
    text-decoration: none;
    color: var(--main-color);
}
.header-resume-div{
    border: 1px dashed var(--main-color);
    padding: 15px 37px;
    border-radius: 40px;
}
.header-logo-div a{
    Font-size: var(--main--font-size);
    Line-height: 41px;
}
.header-navigation-members-div a{ 
    Font-size: 16px;
    Line-height: 22px;
}
.about-section-wrapper{
    margin-top: 168px;
}
.about-title{
    text-align: center;
    font-weight: var(--main-weight);
    font-size: 28px;
    line-height: 38px;
    color: var(--main-color);
}
.about-content-wrapper{
    display: flex;
    align-items: center;
    position: relative;
    gap: 55px;
    margin-top: 11px;
}
.about-content-avatar{
    width: 397px;
    height: 461px;
    border-radius: 10%;
    border: 1px dashed var(--main-color);
    padding: 30px 35px;
}
.about-content-avatar img{
   width: 100%;
   height: 100%;
   border-radius: 10%;
   transition: 1s;
}
.about-content-avatar img:hover{
    scale: 1.1;
}
.about-content-texts{
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: start;
    color: var(--main-color);
    width: 607px;
    height: 115px;
}
.about-content-texts h3{
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
}
.about-content-texts p{
    font-weight: var(--secondary-weight);
    font-size: var(--secondary-font-size);
    line-height: var(--main-line-height);
}
.about-content-texts button{
   background-color: var(--main-color);
   border-radius: 30px;
   padding: 12px 44px;
   cursor: pointer;
}
.about-content-icons{
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 24px;
    right: 0;
    bottom: 0;
}
.about-content-icons img{
    width: 20px;
    height: 20px;
}
.about-sweep-wrapper{
    height: 333px;
    width: 100%;
}
.about-sweep-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--main-color);
    margin-top: 50px;
}
.about-sweep-wrapper div{
    display: flex;
    justify-content: center;
    align-items: end;
    border-radius: 30px;
    border: 2px solid;
    border: 2px solid var(--main-color);
}
.about-sweep-wrapper div a {
    padding: 47px 14px 17px 14px;
}

.work-wrapper{
    display: flex;
    flex-direction: column;   
    align-items: center; 
    gap: 45px;
}
.work-section-title{
    font-weight: var(--main-weight);
    font-size: var(--main--font-size);
    line-height: 41px;
    color: var(--main-color);
}
.work-content-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 49px 30px;
}
.work-content-wrapper div{
    border: 1px dashed var(--main-color);
    border-radius: 16%;
}
.work-content-wrapper div img{
    padding: 20px 30px;
    border-radius: 20%;
    transition: 2s;
}
.work-wrapper div button{
    background-color: var(--main-color);
    border-radius: 30px;
    padding: 12px 44px;
    cursor: pointer;
}
.work-content-wrapper div img:hover{
    transform: scale(1.1);
}
.experience-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.experience-section{
    margin-top: 160px;
    margin-bottom: 150px;
}
.experience-title{
    font-weight: var(--main-weight);
    font-size: var(--main--font-size);
    line-height: 41px;
    color: var(--main-color);
    margin-bottom: 41px;
}
.experience-whole-card-wrapper{
    display: flex;
    align-items: center;
    gap: 40px;
}
.card-date p{
    font-weight: var(--secondary-weight);
    font-size: var(--secondary-font-size);
    line-height: var(--main-line-height);
    color: var(--secondary-color);
}
.card-content-div{
    border: 1px dashed #0066FF;
    border-radius: 30px;
    height: 280px;
    padding: 10px 55px;
}
.card-date{
    display: flex;
    justify-content: center;
    width: 55%;
    transform: rotate(-90deg);
}
.card-content-div{
    display: flex;
    align-items: center;
    color: var(--secondary-color);
}
.card-title-div{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 30%;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
}
.experience-content-wrapper-margin{
    margin-bottom: 80px;
}
.card-paragraphs-button{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
    font-weight: var(--secondary-weight);
    font-size: 16px;
    line-height: 22px;
    width: 70%;
}
.card-paragraphs-button div button{
    border: none;
    background-color: #061427;
    color: var(--secondary-color);
    cursor: pointer; 
    font-weight: var(--secondary-weight);
    font-size: 16px;
    line-height: 22px;
}
.experience-main-button{
    background-color: var(--main-color);
    border-radius: 30px;
    padding: 12px 44px;
    cursor: pointer;
    margin-top: 40px;
}
.contact-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 65px;
    color: var(--secondary-color);
}
.contact-titles-wrapper{
    display: flex;
    align-items: center;   
    flex-direction: column; 
    gap: 35px;
}
.contact-titles-wrapper h2{
    font-weight: var(--main-weight);
    font-size: var(--main--font-size);
    line-height: 41px;
    color: var(--main-color);
}
.contact-titles-wrapper p{
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
}
.contact-address{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-address div{
    display: flex;
    gap: 34px;
    align-items: center;
}
.contact-address div a{
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 600;
    font-size: var(--secondary-font-size);
    line-height: var(--main-line-height);
}
.contact-content-wrapper{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.contact-address{
    border: 1px dashed #0066FF;
    padding: 51px 31px;
    border-radius: 30px;
}
.contact-button-wrapper button{
    background-color: var(--main-color);
    border-radius: 30px;
    padding: 12px 44px;
    cursor: pointer;
}
.my-work-section{
    margin-top: 150px;
    margin-bottom: 200;
    color: var(--main-color);
}
.my-work-wrapper{
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.my-work-wrapper h2{
    font-weight: var(--main-weight);
    font-size: var(--main--font-size);
    line-height: 41px;
    color: #00FFF5;
    text-align: center;
}
.card-wrapper {
    display: flex;
    gap: 122px;
}
.my-work-texts{
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 20px;
}
.my-work-texts h3{
    font-weight: var(--main-weight);
    font-size: var(--main--font-size);
    line-height: 41px;
}
.my-work-texts span,
.my-work-texts p{
    font-weight: var(--main-weight);
    font-size: var(--secondary-font-size);
    line-height: var(--main-line-height);
}
.my-work-button-div{
    position: absolute;
    right: 0;
    bottom: 0;
}
.my-work-button-div button{
    background-color: var(--main-color);
    padding: 11px 33px;
    border-radius: 20px;
    cursor: pointer;
}
.contact-wrapper-forwork-page{
    margin-top: 200px;
}